{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="vh-100">
        <div class="container mt-4 ">
            <div class="row">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6">
                    <div class="bg-light py-3 px-3">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="my-3">Connection</h3>
                            </div>
                            <div class="card-body">
                                {% if error %}
                                    <div class="alert alert-danger">
                                        Email et/ou mot de passe invalide !
                                    </div>
                                {% endif %}
                                <p>Pas encore inscrit ? <a href="{{ path('account_register') }}">Rejoignez-nous !</a></p>
                                <br>
                                <form action="{{ path('account_login') }}" method="post">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" id="email" name="_username" class="form-control" value="{{ last_username }}"
                                               placeholder="Adresse email..." required>
                                    </div>

                                    <div class="form-group">
                                        <label for="password">Mot de passe</label>
                                        <input type="password" id="password" name="_password" class="form-control"
                                               placeholder="Votre mot de passe" required>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-6">
                                            <button type="submit" class="btn btn-primary">Se connecter</button>
                                        </div>
                                        <div class="col-6 text-right">
                                            <a href="{{ path('account_forget_password') }}" class="text-right">Mot de passe oublié ?</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
