{% extends 'base.html.twig' %}
{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="container">
        <div class="card my-5">
            <div class="card-header">
                <h3 class="my-4">Réinitialisation du mot de passe</h3>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <input type="hidden" name="token" value="{{ token }}">
                <button class="btn btn-primary">Réinitialiser</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
