<form class="ml-lg-1 my-1" method="post" action="{{ path(route, {'id': id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id ) }}">
    <button class="btn btn-{{ btn|default('danger') }} "><i class="fas fa-{{ awesome |default ('trash') }}"></i></button>
</form>