{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le meilleur réseau d'appartements {% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-3">Bienvenue sur FlashBnB</h1>
            <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent profiter
                d'opportuinités en proposant leur bien à la location.</p>
            <hr class="my-4">
            <p class="lead"><b>Vous êtes voyageur ? Vous chercher un logement pour vos déplacements ?</b></p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('ads_index') }}" role="button">Voir les annonces</a>
            </p>
        </div>

        <h2 class="h1 mt-4 mb-3">Nos apparetments stars</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; / nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                         style="height: 200px; width: 100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">Apparetement de ouf</h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus iure obcaecati vel.
                            Doloribus facilis nobis odio odit quisquam, suscipit.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; / nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                         style="height: 200px; width: 100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">Apparetement de ouf</h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus iure obcaecati vel.
                            Doloribus facilis nobis odio odit quisquam, suscipit.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49&euro; / nuit</strong><br>
                        <small>Pas encore noté</small>
                    </div>
                    <img src="http://placehold.it/1000x400" alt="Image de l'appartement"
                         style="height: 200px; width: 100%; display: block">
                    <div class="card-body">
                        <h4 class="card-title">Apparetement de ouf</h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem delectus iure obcaecati vel.
                            Doloribus facilis nobis odio odit quisquam, suscipit.
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="h1 mt-4 mb-3">Nos propriétaires stars</h2>
        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Personne</h4>
                        <hr>
                        <div class="card-text">
                            <img class="float-left mr-3" src="http://placehold.it/64x64" alt="Avata de personne">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, ipsum.</p>
                            <a href="" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-4">
                    <div class="card-body">
                        <h4 class="card-title">Personne</h4>
                        <hr>
                        <div class="card-text">
                            <img class="float-left mr-3" src="http://placehold.it/64x64" alt="Avata de personne">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, ipsum.</p>
                            <a href="" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
