{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur le meilleur réseau d'appartements {% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-3">Bienvenue sur FlashBnB</h1>
            <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent profiter
                d'opportuinités en proposant leur bien à la location.</p>
            <hr class="my-4">
            <p class="lead"><b>Vous êtes voyageur ? Vous chercher un logement pour vos déplacements ?</b></p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ path('ads_index') }}" role="button">Voir les annonces</a>
            </p>
        </div>

        <h2 class="h1 mt-4 mb-3">Nos appartements stars</h2>
        <div class="row">
            {% for data in bestAds  %}
                {% include 'common/_ad.html.twig' with {'ad': data.annonce} %}
            {% endfor %}
        </div>


        <h2 class="h1 mt-4 mb-3">Nos propriétaires stars</h2>
        <div class="row">
            {% for data in bestUsers  %}
                {% include 'common/_owner.html.twig' with {'user': data.user, 'data': data } %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
