{% extends 'base.html.twig' %}

{% block title %}FlashBnB - Mentions légales {% endblock %}

{% block body %}
<div class="container-fluid" style="padding-left: 80px; padding-right: 80px; padding-top: 40px; padding-bottom: 24px;">
    <div class="wpb_wrapper">
        <h1 class="my-3">Mentions légales</h1>
        <p><strong>PUBLICATION</strong></p>
        <p>Le présent site est édité et géré par :<br>
            Victorien Faton<br>
            FlashBnb<br>
            39 rue Saint Sébastien<br>
            75011 PARIS</p>
        <p><strong>HÉBERGEUR</strong></p>
        <p>OVH<br>
            2 rue Kellermann<br>
            59100 Roubaix<br>
            France</p>
        <p><strong>DROITS DE PROPRIÉTÉ INTELLECTUELLE</strong></p>
        <p>Ce site web est protégé par le droit d’auteur et les dispositifs applicables du droit de propriété intellectuelle. La conception, le graphisme, le contenu, l’organisation de ce site sont des oeuvres originales et sont l’entière propriété de FlashBnb. Toute reproduction, ou démarquage, total ou partiel, fait sans le consentement de l’auteur, ou de ses ayants droit, ou de ses ayants cause est illicite. Il en est de même pour la traduction, l’adaptation, l’arrangement par quelque procédé que ce soit.</p>
        <p><strong>DONNÉES LIENS HYPERTEXTES AVEC DES SITES TIERS</strong></p>
        <p>FlashBnb n’exerce aucun contrôle sur le contenu des sites tiers. L’existence d’un lien hypertexte entre FlashBnb et un site tiers ne signifie en aucune manière le contrôle du contenu du site tiers par FlashBnb.</p>
        <p><strong>EXONÉRATION DE RESPONSABILITÉ</strong></p>
        <p>Il appartient à l’utilisateur de ce site de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels de contamination par d’éventuels virus circulant sur le réseau Internet.</p>
        <p><strong>MODIFICATION DU SITE</strong></p>
        <p>FlashBnb se réserve le droit de modifier ou de corriger le contenu de ce site et cette mention légale à tout moment et ceci sans préavis</p>

    </div>
</div>
{% endblock %}