{% block stylesheets %}
    <style>
        h1{
            color: red;
        }
    </style>

{% endblock %}
<h1>Un test de PDF</h1>
{% block body %}
<a href="https://stackoverflow.com/questions/2104635/abcpdf-document-not-applying-css"></a>
{% endblock %}