{% for label, messages in app.flashes  %}
    <div class="container">
        <div class="alert alert-{{ label }} text-center">
            {% for message in messages  %}
                {{ message|raw }}
            {% endfor %}
        </div>
    </div>
{% endfor %}