<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>FlashBnB - {% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        {{ encore_entry_link_tags('app') }}
        <script src="https://kit.fontawesome.com/e971e3c315.js" crossorigin="anonymous"></script>

        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div id="main">

            {% include 'common/header.html.twig' %}
            {% include 'common/flashes.html.twig' %}
            {% block body %}{% endblock %}


            {% include 'common/footer.html.twig' %}

            {{ encore_entry_script_tags('app') }}

            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
