{% extends 'base.html.twig' %}
{% block title %}Création d'une annonce{% endblock %}

{% form_theme form 'common/Form/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Créer une nouvelle annonce</h1>
        <button id="urlImage">Ajouter des images url</button>

        {{ form_start(form) }}
        {{ form_widget(form) }}
            <div class="form-group">
                <button class="btn btn-primary">Créer une nouvelle annonce</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/add-image') }}
    <script>
        $('fieldset').toggle();
        $('#urlImage').click(function () {
            $('fieldset').toggle();
        })

    </script>
{% endblock %}