{% extends 'base.html.twig' %}
{% block title %}ERROR 404{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1>Oups ! La page que vous recherchez n'existe pas !</h1>
        <img src="" alt="">
        <img src="{{ asset('images/error-404-1252056_1280.png') }}" alt="Error 404" style="width: 500px;">
        <p>On a surement du mal a vous renseigner ! Aucun soucis, vous pouvez retourner à l'acceuil ou voir nos dernières annonces !</p>


        <a href="{{ path('ads_index') }}" class="btn btn-primary">Retour à l'acceuil</a>
        <a href="{{ path('ads_index') }}" class="btn btn-primary">Nos annonces</a>
    </div>

{% endblock %}