{% extends 'base.html.twig' %}
{% block title %}ERROR 403{% endblock %}

{% block body %}
    <div class="container text-center">
        <h1 class="mt-4">Attention ! Autorisation requise !</h1>
        <img class="errorPenguin my-5" src="{{ asset('images/error403.png') }}" alt="Error 403">
        <div class="alert alert-danger mt-5 h4 mb-3">
            Vous n'avez pas le droit d'accéder à cette ressource !
        </div>
        <a href="{{ path('ads_index') }}" class="btn btn-primary">Retour à l'acceuil</a>
    </div>

{% endblock %}