
{% block stylesheets %}
    <style>
        {# here, define your CSS styles as usual #}
        h1 {
            color: red;
        }
        h5 {
            color: green;
        }
        span {
            color: darkblue;
        }
    </style>
{% endblock %}



{% block body %}

    <div class="example-wrapper">

        <h1>Bienvenue {{ user.FullName }}! </h1>

        <h3>L'équipe FlashBnb vous remercie pour votre inscription</h3>

        <p>
            Vous pouvez vous connecter à l’aide de votre adresse e-mail: <span>{{user.email}}</span> et de votre mot de passe que vous avez indiqué lors de l'enregistrement.
            <br>Vous pouvez changer votre mot de passe à tout moment dans les paramètres du compte. En cas d'oubli de votre mot de passe, nous vous enverrons un rappel.
            <br>Nous vous invitons à suivre nos offres spéciales et promotions. Nous vous souhaitons de bons achats !
        </p>


        <p>L'équipe <a href="{{ url('ads_index') }}">FlashBnB</a></p>

    </div>
{% endblock %}